services:
  keycloak:
    image: quay.io/keycloak/keycloak:latest
    container_name: keycloak
    environment:
      KC_DB: postgres
      KC_DB_URL_HOST: postgres
      KC_DB_URL_DATABASE: keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: password
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin

      #KC_PROXY: edge
      #KC_HOSTNAME_ADMIN_URL: https://localhost:8443
      #KC_HOSTNAME_URL: https://localhost:8443

      # Enable HTTPS
      KC_HTTPS_CERTIFICATE_FILE: /opt/keycloak/conf/keycloak.crt.pem
      KC_HTTPS_CERTIFICATE_KEY_FILE: /opt/keycloak/conf/keycloak.key.pem
      KC_HTTPS_PORT: 8443
      KC_HOSTNAME: 54.211.20.138   # set ip public 
      KC_HOSTNAME_STRICT: false
      KC_HOSTNAME_STRICT_HTTPS: false
      KC_HEALTH_ENABLED: "true"
      KC_LOG_LEVEL: info

    volumes:
      - ./certs:/opt/keycloak/conf/certs
    ports:
      - "8090:8080"
      - "8443:8443"
    command:
      - start-dev
      - --https-certificate-file=/opt/keycloak/conf/certs/keycloak.crt
      - --https-certificate-key-file=/opt/keycloak/conf/certs/keycloak.key

    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - keycloak-net

  postgres:
    image: postgres:13
    environment:
      POSTGRES_DB: keycloak
      POSTGRES_USER: keycloak
      POSTGRES_PASSWORD: password
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U keycloak -d keycloak"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - keycloak-net


networks:
  keycloak-net:
    driver: bridge
